<script>
  const socket = io.connect('http://localhost:3000', {
    'forceNew': true
  });


  function addMessage(e) {
    console.log("Send A message");    
    var message = {
      author: document.getElementById('username').value,
      text: document.getElementById('texto').value
    };
    socket.emit('newMessage', message);
    return false;
  }

  function disconnect(){
    console.log("Disconnect.");
    socket.disconnect();
  }

</script>

<h1>
  My App</h1>
<div id="messages"></div>
<br/>
<form onsubmit="return addMessage(this)">
  <input type="text" id="username" placeholder="Tu Nombre">
  <input type="text" id="texto" placeholder="Cuéntanos algo...">
  <input type="submit" value="Enviar!">
</form>

<button type="submit" onclick="disconnect()">SUBMIT</button>